In [1]:
import re #for regular expression

In [2]:
import nltk #for text manipulation
import string
import warnings
import numpy as np # mathematical workings
import pandas as pd # data transforming
import seaborn as sns #visualization
import matplotlib.pyplot as plt #pyplot is a collection of command style functions that make matplotlib work like MATLAB.

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
pd.set_option("display.max_colwidth", 200) 
##The maximum width in characters of a column in the repr of a pandas data structure. 
warnings.filterwarnings("ignore", category = DeprecationWarning)
%matplotlib inline #This includes the matplotlib graphs in your notebook, next to the code.

UsageError: unrecognized arguments: #This includes the matplotlib graphs in your notebook, next to the code.

In [6]:
train = pd.read_csv("/content/train_E6oV3lV.csv")
test = pd.read_csv("/content/test_tweets_anuFYb8.csv")

In [7]:
train.head(5)

   id  ...                                                                                                                       tweet
0   1  ...                       @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2  ...  @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3  ...                                                                                                         bihday your majesty
3   4  ...                                      #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5  ...                                                                                      factsguide: society now    #motivation

[5 rows x 3 columns]

In [8]:
test.head(5)

      id                                                                                                                                           tweet
0  31963                                                      #studiolife #aislife #requires #passion #dedication #willpower   to find #newmaterialsâ¦
1  31964                                            @user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why
2  31965                                                                         safe ways to heal your #acne!!    #altwaystoheal #healthy   #healing!!
3  31966  is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð   #harrypotter #pottermore #favorite
4  31967                                                     3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB