In [1]:
import re #for regular expression

In [2]:
import nltk #for text manipulation
import string
import warnings
import numpy as np # mathematical workings
import pandas as pd # data transforming
import seaborn as sns #visualization
import matplotlib.pyplot as plt #pyplot is a collection of command style functions that make matplotlib work like MATLAB.

In [3]:
pd.set_option("display.max_colwidth", 200) 
##The maximum width in characters of a column in the repr of a pandas data structure. 
warnings.filterwarnings("ignore", category = DeprecationWarning)
%matplotlib inline 
#This includes the matplotlib graphs in your notebook, next to the code.

In [4]:
train = pd.read_csv("/content/train_E6oV3lV.csv")
test = pd.read_csv("/content/test_tweets_anuFYb8.csv")

In [5]:
train.head(5) # head shows the top most data that we want to display, here it is 5 rows.

   id  ...                                                                                                                       tweet
0   1  ...                       @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2  ...  @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3  ...                                                                                                         bihday your majesty
3   4  ...                                      #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5  ...                                                                                      factsguide: society now    #motivation

[5 rows x 3 columns]

In [6]:
test.head(5) # head shows the top most data that we want to display, here it is 5 rows.

      id                                                                                                                                           tweet
0  31963                                                      #studiolife #aislife #requires #passion #dedication #willpower   to find #newmaterialsâ¦
1  31964                                            @user #white #supremacists want everyone to see the new â  #birdsâ #movie â and hereâs why
2  31965                                                                         safe ways to heal your #acne!!    #altwaystoheal #healthy   #healing!!
3  31966  is the hp and the cursed child book up for reservations already? if yes, where? if no, when? ððð   #harrypotter #pottermore #favorite
4  31967                                                     3rd #bihday to my amazing, hilarious #nephew eli ahmir! uncle dave loves you and missesâ¦

In [7]:
train.info() # info will show what labels are present in the data, how many rows present and their data types.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [8]:
test.info() # info will show what labels are present in the data, how many rows present and their data types.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17197 entries, 0 to 17196
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      17197 non-null  int64
 1   tweet   17197 non-null  object
dtypes: int64(1), object(1)
memory usage: 268.8+ KB

In [9]:
train['label'].value_counts() # given a column from the data set we tend to get information of unique elements present in the data set.

0    29720
1     2242
Name: label, dtype: int64

In [10]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [14]:
train[train['label'] == 0].head(10) # calling top 10 non-racist tweets

   id  ...                                                                                                                                            tweet
0   1  ...                                            @user when a father is dysfunctional and is so selfish he drags his kids into his dysfunction.   #run
1   2  ...                       @user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked
2   3  ...                                                                                                                              bihday your majesty
3   4  ...                                                           #model   i love u take with u all the time in urð±!!! ðððð
ð¦ð¦ð¦
4   5  ...                                                                                                           factsguide: society now    #motivation
5   6  ...                             [2/2] huge fan fare and big talking before they leave. chaos and pay disputes when they get there. #allshowandnogo
6   7  ...                                                                        @user camping tomorrow @user @user @user @user @user @user @user dannyâ¦
7   8  ...  the next school year is the year for exams.ð¯ can't think about that ð­ #school #exams   #hate #imagine #actorslife #revolutionschool #girl
8   9  ...                                                          we won!!! love the land!!! #allin #cavs #champions #cleveland #clevelandcavaliers  â¦
9  10  ...                                                                                                @user @user welcome here !  i'm   it's so #gr8 !

[10 rows x 3 columns]

In [16]:
train[train['label']==1].head(10) #calling top 10 racist tweets.

      id  ...                                                                                                                              tweet
13    14  ...                                                         @user #cnn calls #michigan middle school 'build the wall' chant '' #tcot
14    15  ...                              no comment!  in #australia   #opkillingbay #seashepherd #helpcovedolphins #thecove  #helpcovedolphins
17    18  ...                                                                                                             retweet if you agree!
23    24  ...                                                                                    @user @user lumpy says i am a . prove it lumpy.
34    35  ...                           it's unbelievable that in the 21st century we'd need something like this. again. #neverump  #xenophobia
56    57  ...                                                                                            @user lets fight against  #love #peace
68    69  ...                     ð©the white establishment can't have blk folx running around loving themselves and promoting our greatness
77    78  ...                                            @user hey, white people: you can call people 'white' by @user  #race  #identity #medâ¦
82    83  ...                                                      how the #altright uses  &amp; insecurity to lure men into #whitesupremacy
111  112  ...  @user i'm not interested in a #linguistics that doesn't address #race &amp; . racism is about #power. #raciolinguistics bringsâ¦

[10 rows x 3 columns]

In [17]:
train.shape # gives (number of rows, number of columns or features)

(31962, 3)

In [18]:
test.shape # gives (number of rows, number of columns or features)

(17197, 2)